$clr_main: #104cba;
$clr_second: #1d2c38;
$clr_third: #295fc4;
$clr_overley:#104bba41;
$clr_topheader:#e5eef6;
$clr_arrow_back:#e2e8f3;
$clr_face: #254e99;
$clr_ins:#e4405f;
$clr_twit:#236aec;
$clr_pintrst:#e60023;