* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Rubik', sans-serif;
    line-height: 28px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
}


ul {
    list-style-type: none;
}


.btn {
    @extend %btn;
}

a {
    text-decoration: none;
}